{% extends "layout.html" %}
{% block content %}

<div class="container">
  <h2 id="new_site_header">Search Sites Near Provided Coordinates:</h2>
  <form method="POST" action="">
    
    <!-- adding CRF token -->
    {{ form.hidden_tag() }} 


    <fieldset class="form-group">

      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.given_gps_coordinates.label(class="form-control-label") }}
          {{ form.given_gps_coordinates(class="form-control form-control-lg") }}
          <ul> 
            {% for error in form.given_gps_coordinates.errors %}
             <l1 style="color:red"> {{ error }}</l1>
            {% endfor %}
          </ul> 
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col text-left">
            <button class="btn btn-default"> Search </button> 
          </div>
        </div>
      </div>

      
    </fieldset>
  </form>
</div>
  {% endblock content %}
