{% extends "layout.html" %}
{% block content %}

<div class="container">
  <h2 id="new_site_header">Search Sites Near Provided Coordinates:</h2>




  <form method="POST" action="">
    
    <!-- adding CRF token -->
    {{ form.hidden_tag() }} 
    

    <fieldset class="form-group">

      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.searchby.label(class="form-control-label") }}
          {{ form.searchby(class="form-control form-control-lg") }}
          <ul> 
            {% for error in form.searchby.errors %}
            <l1 style="color:red"> {{ error }}</l1>
            {% endfor %}
          </ul> 
        </div>
      </div>

      <div class="form-row">
        <div id="GPS" style="display:none" class="form-group col-md-6">
          {{ form.given_gps_coordinates.label(class="form-control-label") }}
          {{ form.given_gps_coordinates(class="form-control form-control-lg") }}
          <ul> 
            {% for error in form.given_gps_coordinates.errors %}
             <l1 style="color:red"> {{ error }}</l1>
            {% endfor %}
          </ul> 
        </div>
      </div>

      <div class="form-row">
        <div id="state" style="display:none" class="form-group col-md-2">
          {{ form.state.label(class="form-control-label") }}
          {{ form.state(class="form-control form-control-lg") }}
          <ul> 
            {% for error in form.state.errors %}
            <l1 style="color:red"> {{ error }}</l1>
            {% endfor %}
          </ul> 
        </div>
      </div>

      <div class="form-row">
        <div id="city" style="display:none" class="form-group col-md-4">
          {{ form.city.label(class="form-control-label") }}
          {{ form.city(class="form-control form-control-lg") }}
          <ul> 
            {% for error in form.city.errors %}
            <l1 style="color:red"> {{ error }}</l1>
            {% endfor %}
          </ul> 
        </div>
      </div>




      <div class="container">
        <div  id="searchb" class="row" style="display:none;">
          <div class="col text-left">
            <button class="btn btn-default"> Search </button> 
          </div>
        </div>
      </div>


      
    </fieldset>



  </form>
</div>

<script>
  let search_select = document.getElementById('searchby');

  search_select.onchange = function(){
    search_type = search_select.value

    city = document.getElementById("city")
    state = document.getElementById("state")
    gps = document.getElementById("GPS")
    searchb = document.getElementById("searchb")

    city.style.display = "none"
    state.style.display = "none"
    gps.style.display = "none"
    searchb.style.display = "none"

    if(search_type === "GPS Coordinates"){
      gps.style.display = "block"
      searchb.style.display = "block"
    }

    if(search_type === "City"){
      city.style.display = "block"
      searchb.style.display = "block"
    }
    if(search_type === "State"){
      state.style.display = "block"
      searchb.style.display = "block"
    }
    

  }
</script>





{% endblock content %}
