{% extends "layout_sticky.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col order-1">
      <a href=" {{ url_for('search') }} ">
        <img class ="buttonimage" src="../static/images/lakecamping.jpg">
        <div class="centered">SEARCH NEARBY</div>
      </a>
    </div>

    <div class="col order-2">
      <a href=" {{ url_for('new_campsite') }} ">
        <img class ="buttonimage" src="../static/images/cascade.jpg">
        <div class="centered" align="centered">CREATE NEW SITE</div>
      </a>
    </div>
    
    <div class="col order-3">
      <a href=" {{ url_for('profile') }} ">
        <img class ="buttonimage" src="../static/images/campfire.jpg">
        <div class="centered" align="centered">PROFILE</div>
      </a>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="content-section">
    <h3>Top Campsites</h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Campsite Name</th>
            <th scope="col">GPS Location</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Date</th>
            <th scope="col">Rating</th>
            <th scope="col">Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for camp_site in camp_sites %}
            <td>{{ camp_site.site_name }}</td>
            <td>{{ camp_site.gps }}</td>
            <td>{{ camp_site.city }}</td>
            <td>{{ camp_site.state_abr }}</td>
            <td>{{ camp_site.date }}</td>
            <td>{{ camp_site.rating }}</td>
            <td>{{ camp_site.notes }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

