{% extends "layout.html" %}
{% block content %}
  <h2>New Site Entry</h2>
  <form>
    <label for="site_name">Site Name:</label><br>
    <input type="text" id="Site_name" name="Site_name"><br>
    
    <label for="GPS_coordinates">GPS Coordinates</label><br>
    <input type="text" id="GPS_coordinates" name="GPS_Coordinates"><br>
    
    <label for="city">City:</label><br>
    <input type="text" id="city" name="city"><br>
    
    <label for="State">State:</label><br>
    <input type="text" id="State" name="State"><br>
    
    <label for="Date">Date:</label><br>
    <input type="text" id="Date" name="Date"><br>
    
    <label for="Rating">Rating:</label><br>
    <input type="text" id="Rating" name="Rating"><br>
    
    <label for="fees">Fees?(Optional):</label><br>
    <input type="text" id="fees" name="fees"><br>
    
    <label for="notes">Notes:(Optional)</label><br>
    <input type="text" id="notes" name="notes"><br>
    
    <a href=" {{ url_for('home') }} ">Submit</a></br>
  </form>
  
  <a href=" {{ url_for('home') }} ">back</a></br>
  {% endblock content %}

