body {
	background: #fafafa;
	color: #333333;
	margin-top: 5rem;
}

h1, h2, h3, h4 h5{
	color: #444444;
}



.bg-steel {
background-color: #525f41;
}

.danger-btn {
  background-color: #851837;
}

.site-header .navbar-nav .nav-link {
color: #e9eff2;
}

.navbar-brand {
color:#ffffff;
font-size: 26px;
}

.site-header .navbar-nav .nav-link:hover {
color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.buttonimage {
  opacity:  0.75;
  height:  100%;
  width:  100%;
  border-radius: 10px;
}


.headerimage {
  opacity:  0.65;
  height:  30%;
  width:  100%;
  border-radius: 10px;
  margin: -5px;
  overflow: hidden;
}

.centered {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xxx-large;
  color: white;
  font-weight: bold;
}

.left{
  position: absolute;
  top: 40%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-size: xxx-large;
  color: white;
  font-weight: bold;
}

#mission_statement{
  font-style: italic;
  font-weight: bold;
}

.aboutimage {
  opacity:  1;
  height:  50%;
  width:  100%;
  border-radius: 10px;
  object-fit: cover;
}

#about_background{
   background: 
    linear-gradient(to bottom,
      rgba(0,0,0,1), 
      rgba(255,255,255,0)
    ),
    url("../static/images/tent.jpg");
  background-size: cover;
  height: 100vh;

}

.tableimage {
  
  height:  100%;
  width:  100%;
  
}

.alert{
  width: 100%;
  text-align: center;
}

background: linear-gradient(to bottom,  rgba(255,255,255,0), white 100%);